/* lyceum.css customisations */
/* logo lyceum trop gros */
picture,
picture > img {
  margin: 3px auto;
  height: 36px;
}

img {
  display: block;
  margin: 1rem auto;
}

/* page d'index */
.index a {
  text-decoration: none;
}
