---
layout: layout.liquid
pagination:
    data: images
    size: 1
    alias: image
permalink: "{{ image.id }}/index.html"
eleventyComputed:
    title: "{{ image.data.titre }} - Une image libre de lyceum"
---
<body>  
        <h1>{{ image.data.titre }}</h1>
        <p>{{ image.data.description }}</p>
        <p><strong>Auteur&nbsp;: </strong>{{ image.data.author }}</p>
        <p><strong>Licence&nbsp;: </strong>{{ image.data.licence }}</p>
        <p><strong>Tags&nbsp;: 
            {% for tag in image.data.tags %}   
                <span class="badge">{{ tag }}</span>
            {% endfor %}
        </strong></p>
        <img src="{{ '/' | url }}{{ image.id }}.svg" alt="{{ image.data.description }}"/>
        <h4>Formats disponibles</h2>
        <ul class="formats">
            <a href="{{ '/' | url }}{{ image.id }}.svg"><span class="badge badge-primary">svg</span>
            <a href="{{ '/' | url }}{{ image.id }}-256.png"><span class="badge badge-secondary">png 256px</span>
            <a href="{{ '/' | url }}{{ image.id }}-512.png"><span class="badge badge-success">png 512px</span>
            <a href="{{ '/' | url }}{{ image.id }}-1024.png"><span class="badge badge-danger">png 1024px</span>
            <a href="{{ '/' | url }}{{ image.id }}-2048.png"><span class="badge badge-warning">png 2048px</span>
        </ul>
    <script src="/js/script.js"></script>
</body>

</html>
