---
layout: layout.liquid
title: Dépôt d'images libres par lyceum
data: images
---

<h1>Liste des médias</h1>
<blockquote>🔨 🔨 🔨Travail en cours 🔩 🔩 🔩</blockquote>
<div class="card-columns index">
  {% for image in images %}
  <div class="card">
    <a href="{{ image.id | url }}">
    <div class="card-header">
        <p class="card-text">
        <h5 class="card-title">{{ image.data.titre }}</h5>
      </div>
      <div class="card-body">
        <p class="card-text">{{ image.data.description }}</p>
      </div>
      <img class="card-img" src="{{ image.id | url }}-256.png" alt="Card image cap">
      <div class="card-footer">
        <p class="card-text">
        Auteur: <small class="text-muted">{{ image.data.author }}</small></p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
