<!doctype html>
<html lang="fr">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" :>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" sizes="192x192" href="{{ '/favicon.png' | url }}" />
    <link rel="icon" sizes="144x144" href="{{ '/favicon-144x144.png' | url }}" />
    <link rel="icon" sizes="96x96" href="{{ '/favicon-96x96.png' | url }}" />
    <link rel="icon" sizes="48x48" href="{{ '/favicon-48x48.png' | url }}" />
    <link rel="shortcut icon" href="{{ '/favicon.ico' | url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}" />
    <meta name="apple-mobile-web-app-title" content="lyceum.fr" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg color="#5bbad5' | url }}" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="theme-color" content="#003CBA" />
    <meta name="application-name" content="lyceum.fr" /> 
    <link rel="stylesheet" href="{{ '/css/lyceum.css' | url }}" />
    <link rel="stylesheet" href="{{ '/css/tweaks.css' | url }}" />
  </head>
  <body>
    {% include navbar.html %} 
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
